<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>工具箱</title>
   <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <link rel="stylesheet" href="/view/statics/layui/css/layui.css">
  <script src="/view/statics/layui/layui.js"></script>
  <script src="/view/statics/js/jquery-3.3.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">工具箱</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="javascript:void(0)" class="goto_item" url="/stage/index.view" tabid="1">工程脚手架</a></li>
      <!-- <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:void(0)">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:void(0)">
          <img src="/view/statics/1.jpeg" class="layui-nav-img">天喻
        </a>
        <!-- <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl> -->
      </li>
      <!-- <li class="layui-nav-item"><a href="">退了</a></li> -->
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:void(0)">文档</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:void(0)" class="goto_item" tabid="2" url="/dbreport/index.view">数据库文档</a></dd>
      <dd><a href="javascript:window.open('/swagger-ui.html')"  tabid="3">接口文档</a></dd>
      <dd><a href="javascript:void(0)" class="goto_item" tabid="4">Word - PDF</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:void(0)">解决方案</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:void(0)" url="/automationTestModule/index.view" class="goto_item" tabid="5">自动化测试</a></dd>
      <dd><a href="javascript:void(0)" url="/chat/group.view" class="goto_item" tabid="6">聊天室</a></dd>
    </dl>
  </li>
</ul>
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
	    <div class="layui-tab" lay-filter="tab_demo" lay-allowClose="true">
		  <ul class="layui-tab-title">
		    <li class="layui-this">主页</li>
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
		    
		    </div>
		  </div>
		</div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © vodka_zs@163.com
  </div>
</div>
<script>
//JavaScript代码区域
layui.use('element', function(){
	var element = layui.element;
  $.get("/home.view", function(data){
	  $(".layui-tab-item.layui-show").html(data);
  });
  $('.goto_item').on('click', function(){
	  var url = $(this).attr('url');
	  var name = $(this).text();
	  var tabid = $(this).attr("tabid");
	  if($(".layui-tab-title li[lay-id=" + tabid + "]").length > 0){
		  element.tabChange("tab_demo", tabid);
		  return;
	  }
	  $.get(url, function(data){
		  var tab = {
				  title: name,
				  content:data,
				  id:tabid  
		  };
		  element.tabAdd('tab_demo', tab);
		  element.tabChange("tab_demo", tabid);
	  })
  });
});
function isEmpty(param) {
	if(typeof param == 'object'){
		if($.isEmptyObject(param)){
			return true;
		}else{
			return false;
		}
	}
	if (param == null)
		return true;
	if (param == '')
		return true;
	if (param == undefined)
		return true;
	if (param == {})
		return true;
	if (param == [])
		return true;
	if (param.length == 0)
		return true;
	return false;
}
function isNotEmpty(param) {
	if(typeof param == 'object'){
		if($.isEmptyObject(param)){
			return false;
		}else{
			return true;
		}
	}
	if (param == null)
		return false;
	if (param == '')
		return false;
	if (param == undefined)
		return false;
	if (param == {})
		return false;
	if (param == [])
		return false;
	if (param.length == 0)
		return false;
	return true;
}
</script>
</body>
</html>